<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Public posts</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- To push the page content below the navbar -->
    <link rel="stylesheet" href="../static/css/custom.css"></link>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <!-- Navbar Logo -->
	  <a class="navbar-brand" href="../posts"><img style="max-width:100px; margin-top:-7px;" src="../static/patterns/placeholder.png" alt="logo"></a>
	</div>
        <div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	    <li class="active">
	      <a href="{{ url_for('posts') }}">Return to Posts</a>
	    </li>
	  </ul>
          <ul class="nav navbar-nav navbar-right">
	    <li class="active">
	      <a href="{{ url_for('logout') }}">Log out</a>
	    </li>
	    <!-- Username Display -->
            <li><a href="#">
		<font color="green"> Logged in as {{ username[0] }}</font> 
	    </a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <font size="6">Write a Post:<hr></font>
      <form role="form" method="POST">
	<div class="form-group">
	  <label for="comment">Title:</label>
	  <textarea Required="True" rows="1" type="text" class="form-control" name="title" value="title" placeholder="Write your title here...">
	  </textarea>
	</div>
	<div class="form-group">
	  <br>
	  <label for="comment">Submission:</label>
	  <textarea Required="True" rows="5" type="text" class="form-control" name="post" value="post" placeholder="Write your post here...">
	  </textarea>
	</div>
	<br>
	<br>
	Choose to have your post publicly available or seen only by site members.<br>
	<!-- Public radio button -->
	<div class="radio">
	  <label>
	    <input type="radio" Required="True" name="privacy" value="public" checked="checked">Public
	  </label>
	</div>
	<!-- Private radio button -->
	<div class="radio">
	  <label>
	    <input type="radio" Required="True" name="privacy" value="private">Private
	  </label>
	</div>
	<!-- Sumbit the post -->
	<button class="btn btn-lg btn-success btn-block" type="submit" name="b" value="submit">Post!</button>
      </form>
    </div>
  </body>
</html>
